body, html{
    height: 100%;
    margin:0
}
body{
    background-image: linear-gradient(to bottom, blue, purple);
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}
a.no-underline{
    text-decoration: none;
}
.button-top{/*按钮样式*/
    font-weight: 600;
    display: inline-block;
    background-color: #44424a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 15px 18px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.5s,transform 0.5s;
    animation: popout-detailed-button 1s ease-out;
}
.button-top:hover{
    background-color: #000000;
    transform: translate3d(0, 1px, 0);
    
}
.button-mid{
    font-weight: 600;
    display: inline-block;
    background-color: #44424a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 15px 18px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.5s,transform 0.5s;
    animation: popout-detailed-button 1s ease-out;
}

.button-mid:hover{
    background-color: #000000;
    transform: translate3d(0, 1px, 0);
}

.circle-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    display: block;
    /*margin: 15px 15px 15px 30px;*/
    object-fit: cover; /* 确保图片填充整个框，同时保持其宽高比 */
}
.words{
    color: aliceblue;
    font-weight: 1000;
}
.words-link{
    color: aliceblue;
    font-weight: 1000;
    line-height: 1.0; /* Adjusted line height */
    text-decoration: none;
    transition: transform 0.3s, color 2s;
}
.words-link:hover{
    color: rgb(86, 218, 218);
    transform: translateY(2px); 
}
.showbox {
    border-radius: 12px;
    font-weight: 800;
    background-color: #44424a;
    color: #ffffff;
    padding: 15px 32px ;
    margin: 20px; 
    flex: 1; 
    min-width: 200px; 
    transition: transform 0.5s, background-color 0.3s;
    animation: popout-detailed-button 1s ease-out;
}

.showbox:hover{
    transform: translateY(-2px);
    background-color: rgb(3, 3, 3);
}

.title-container {
    display: flex;
    flex-direction: column; /* 垂直排列子元素 */
    align-items: center; /* 水平居中 */
    justify-content: center; /* 垂直居中 */
    height: 100%; /* 容器高度为视窗高度 */
    text-align: center; /* 文字居中 */
}

.cheer-animation {
    animation: cheer 1s ease-out;
}

.cheer {
    font-size: 70px;
    position: absolute;
    opacity: 0;
}



@keyframes cheer {
    0% { transform: scale(0); opacity: 0; }
    50% { transform: scale(1.2); opacity: 1; }
    100% { transform: scale(1); opacity: 1; }
}

@keyframes slideIn {
    0% { transform: translateX(-100%); opacity: 0;}
    100% { transform: translateX(0); opacity: 1;}
}

@keyframes popout-detailed-button{
    0% { transform: scale(0); opacity: 0; }
    50% { transform: scale(1.05); opacity: 1; }
    100% { transform: scale(1); opacity: 1; }
}

@keyframes popout-main-button{
    0% { transform: scale(0); opacity: 0; }
    50% { transform: scale(1.2); opacity: 1; }
    100% { transform: scale(1); opacity: 1; }
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

p {
    text-align: center;
}

a {
    color: #5cb85c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.sidebar {/*悬浮导航栏*/
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: none; /* 默认隐藏 */
}
.nav-container:hover .sidebar {
    display: block; /* 鼠标悬浮时显示 */
}
