<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
</head>
<body>
    <a href="index.html" class="no-underline" style="margin-top: 50px;">
        <button class="button-top">😋Home😋</button>
    </a><br>
    <div style="display: flex;">
        <div>
            <img src="头像.jpg" alt="" class="circle-image" style="margin: 40px 20px 1px 100px; border: 3px solid aliceblue; animation: slideIn 1s ease-out;">
            <h1 style="margin: 20px 20px 1px 113px;color: aliceblue;animation: slideIn 1s ease-out;" >关于我</h1>
        </div>
        <div style="margin: 55px 20px 0 0px; position: relative;">
            <!-- 添加一个单独的div来表示竖线 -->
            <div style="position: absolute; left: 0px; top: 0; height: 60%; border-left: 2px solid aliceblue;animation: slideIn 1s ease-out;"></div>
            <p class="about-words" style="margin: 50px 0px 0px 0px;"></p>
        </div>
        <div>
            <p class="words" style="margin: 55px 0px 0px 10px; animation: slideIn 1s ease-out;">
                <i class="fas fa-user"></i> 网名:Ise217/Kuriyama9590
            </p>
            <p class="words" style="margin: 0px 0px 0px 10px; animation: slideIn 1s ease-out;">
                <i class="fas fa-code"></i> 技能:Web前后端，云计算，python，Java，基础算法
            </p>
            <p class="words" style="margin: 0px 0px 0px 10px; animation: slideIn 1s ease-out;">
                <i class="fas fa-envelope"></i> Email：2381751651@qq.com
            </p>
            <a href="https://github.com/Kuriyama9590" class="words-link" target="_blank" style="animation: slideIn 1s ease-out;">
                <i class="fab fa-github"></i> GitHub：https://github.com/Kuriyama9590
            </a>
        </div>
    </div>
    <div>
        <div>
            <h1 style="margin: 80px 20px 0px 100px;color: aliceblue; animation: slideIn 1s ease-out;" >项目经历</h1>
            <br>
        </div>
        <div style="display: flex;">
            <div class="showbox" >
                <h2>腾讯云CVM测试开发</h2>
                <img src="腾讯云.png" alt="" style="width: 150px; height: 150px;">
                <p>基于python3 pandas库编写的数据筛选，聚类，展示脚本，支持自动生成复测脚本，自动ai提单问答，一键生成AI问题单</p>
            </div>
            
            <div class="showbox">
                <h2>基于flask的在线问答语音助手</h2>
                <img src="zhipu.png" alt="" style="width: 150px; height: 150px;">
                <p>flask框架+智谱api+TTS搭建的web语音聊天助手，通过提示词定义角色</p>
            </div>
            <div class="showbox">
                <h2>Minecraft Paper服务端性能测试脚本</h2>
                <img src="paper.png" alt="" style="width: 150px; height: 150px;">
                <p>使用Flask框架搭建的图书管理系统，实现了图书的增删改查等功能</p>
            </div>
        </div>
    </div>
</body>
</html>
