<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <a href="{{ url_for('index')}}" class="no-underline" style="margin-top: 50px;">
        <button class="button-top">😋Home😋</button>
    </a>
    <a href="{{ url_for('logout') }}" class="no-underline" style="margin-top: 50px;"">
        <button class="button-top">😢注销😒</button>
    </a>
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 80%;">
        <h2 style="color: aliceblue; font-size: 40px; margin-bottom: 20px;">🌟登录🌟</h2>
        <form action="/login" method="post">
            <label for="username" style="color: aliceblue; font-size: 20px; font-weight: 600; margin-left: 0px;">用户名:
                <input type="text" id="username" name="username" required style="border-radius: 10px;width: 223px; height: 20px;">
            </label>
            <label for="password" style="color: aliceblue; font-size: 20px; font-weight: 600; margin-left: 0px;">密码🔒:
                <input type="password" id="password" name="password" required" style="border-radius: 10px;width: 215px; height: 20px;">
            </label>
            <button type="submit" class="button-mid">👉🏻登录👈🏻</button>
        </form>
    </div>
        
</body>
</html>
